$primaryColor: #343A64;
$backgroundColor: #1F253F;
$textColor: theme('colors.gray.200');

.screen {
  background: $backgroundColor;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;

  & > .self_cam {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 25px;
    margin-right: 25px;
    border-radius: 15px;

    & > .self_cam__container {
      display: flex;
      background: $primaryColor;
      border: 3px solid $primaryColor;
      display: flex;
      width: 180px;
      height: 120px;
      border-radius: 15px;
      position: relative;
      overflow: hidden;
      & > video {
        align-self: center;
        width: 100%;
        height: auto;
      }
      & > .self_cam__toggle {
        position: absolute;
        z-index: 10;
        left: 0;
        bottom: 0;
        margin-left: 5px;
        margin-bottom: 5px;
      }
    }
  }

  & > .players_cam {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 15px;
    padding: 5px;
    max-width: 590px;
    max-height: 380px;
    overflow-y: scroll;
    background: rgba($color: $primaryColor, $alpha: 0.5);

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: rgba($color: $primaryColor, $alpha: .7);
    }
    &::-webkit-scrollbar {
      width: 6px;
      background-color: rgba($color: $primaryColor, $alpha: .7);
    }
    &::-webkit-scrollbar-thumb {
      background-color: $textColor;
    }

    & > .players_cam__container {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      & > .players_cam__box {
        position: relative;
        background: $primaryColor;
        border: 3px solid $primaryColor;
        display: flex;
        justify-content: center;
        width: 180px;
        height: 120px;
        border-radius: 15px;
        overflow: hidden;
        & > video {
          align-self: center;
          width: 100%;
          height: auto;
        }
        & > .players_cam__name {
          color: $textColor;
          position: absolute;
          left: 0;
          bottom: 0;
          margin-left: 10px;
          margin-bottom: 5px;
        }
      }
    }
  }
}
canvas#game {
  width: 100%;
  height: 100%;
  background: black;
}
body {
  margin: 0;
  padding: 0;
}
